[submodule "tread-bot-opencv"]
	path = tread-bot-opencv
	url = https://github.com/ryanhodge240/tread-bot-opencv.git
[submodule "tread-bot"]
	path = tread-bot
	url = https://github.com/ryanhodge240/tread-bot.git
